{{#if posts.length}}
  <section>
    <h2>Your Posts</h2>
    <ul>
      {{#each posts}}
      <a href="/dashboard/edit/{{id}}">{{title}} <span>{{created_at}}</span></a>
      <br>
      {{/each}}
    </ul>
{{/if}}
    <div>
      <a href="/dashboard/new-post">+ New Post</a>
    </div>
  </section>