{{#if posts.length}}
  <section>
    <li class="my-posts">
      {{#each posts}}
      <a href="/dashboard/edit/{{id}}">{{title}} <span>{{format_date created_at}}</span></a>
      {{/each}}
    </li>
{{/if}}
    <div>
      <a href="/dashboard/new-post" class="btn new-post-btn">+ New Post</a>
    </div>
  </section>