{{> post-info post}}

{{> comments post.comments}}

{{#if loggedIn}}
<form class="comment-form">
  <div class="comment-header"></div>
  <div class="create-comment">
  <h2>Comment</h2>
  <div>
    <textarea name="comment-body" class="comment-body"></textarea>
  </div>
  <div class="comment-submit">
    <button type="submit">Submit</button>
  </div>
  </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}