:root {
  --main-color: #2e86ab;
  --secondary-color: #e7ecef;
  --hover-color: #8bb9cd;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--secondary-color);
}

li {
  list-style-type: none;
}

header {
  background-color: var(--main-color);
}

header nav {
  padding: 8px 0;
}

header nav a{
  padding: 0 50px 0 0;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: var(--hover-color);
}

button {
  background-color: var(--main-color);
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--hover-color);
}

.badge { 
  color: var(--main-color);
}

header h2 span{
  background-color: var(--secondary-color);
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

.new-post-form input {
  width: 300px;
}

.fix-color {
  color: var(--main-color);
}


.title {
  padding: 8px 12px;
  color: var(--secondary-color);
  background-color: var(--main-color);
}

.title a {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.description {
  border: 5px solid var(--main-color);
  padding: 8px 12px;
  color: var(--main-color);
}

.post-list,
.login-form,
.signup-form,
.edit-post-form {
  padding: 0;
  margin: 20px auto;
}

.post {
  margin: 20px 50px;
}

.login-form, .signup-form, .edit-post-form {
  width: 90%;
}

.login-form h2, .signup-form h2, .edit-post-form h2 {
  font-size: 1em;
  padding: 12px 12px 8px 12px;
  margin-bottom: 0;
  color: var(--secondary-color);
  background-color: var(--main-color);
}

.login-signup-btn {
  width: 100%;
}

.login, .signup, .edit-post {
  border: 5px solid var(--main-color);
  padding: 10px;
}
 
.login input, .signup input, .edit-post input{
  margin-bottom: 10px;
  width: 100%;
}

.new-post-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.new-post-btn:hover {
  color: var(--secondary-color);
  background-color: #2e86abe1;
}

.my-posts {
  padding: 5px;
  border-radius: 8px;
  margin: 10px 20px 10px 20px;
  background-color: var(--main-color);
}

.my-posts a {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.comments, .comment-form {
  margin: 20px 50px;
}

.comment {
  padding: 20px;
  border: 5px solid var(--main-color);
}

.comment-header {
  margin-top: 8px;
  padding-top: 40px;
  background-color: var(--main-color);
}

.comment-text {
  padding-bottom: 10px;
}

.create-comment {
  padding: 20px;
  border: 5px solid var(--main-color);
}

.create-comment h2{
  font-size: 1em;
  margin-bottom: 2px;
}

.comment-submit {
  padding-top: 10px;
}

.comment-body {
  width: 100%;
}

.comment-submit button {
  width: 100%;
}